<!DOCTYPE html>
<html>
<head>
  <title>Total Income</title>
  <style>
    body { font-family: "Gill Sans", "Gill Sans MT", Calibri, Trebuchet MS, sans-serif; margin: 40px; background: #85ffb4; }
    .card { max-width: 400px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; text-align: center;  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); background: #fdf5da; }
    h2 { color: #006427; font-size: 30px;}
    p { font-size: 18px; margin: 10px 0; color: #535353;}
    a { display: inline-block; margin-top: 15px; text-decoration: none; color: #006427; font-size: 20px;}
  </style>
</head>
<body>
  <div class="card">
    <h2>Total Income</h2>
    <p><strong>Income Source 1:</strong> ₹<%= income1 %></p>
    <p><strong>Income Source 2:</strong> ₹<%= income2 %></p>
    <hr>
    <p><strong>Total:</strong> ₹<%= totalIncome %></p>
    <a href="/">🡰 Go Back</a>
  </div>
</body>
</html>
